/runs/train/exp2/
/runs/train/exp3/
/runs/train/exp4/
/runs/train/exp5/
/runs/train/exp6/
/runs/train/exp7/
/runs/train/exp8/
/runs/train/exp9/
/runs/train/exp10/
/runs/train/exp11/
/runs/train/exp12/
/runs/train/exp13/
/runs/train/exp14/
/runs/train/exp15/
/runs/train/exp16/
/runs/train/exp17/
/runs/train/exp18/
/runs/train/exp19/
/runs/train/exp20/
/runs/train/exp21/
/runs/train/exp22/
/runs/train/exp23/
/runs/train/exp24/
/runs/train/exp25/
/runs/train/exp26/
/runs/train/exp27/
/runs/train/exp28/
/runs/train/exp29/
/runs/train/exp30/
/runs/train/exp31/
/runs/train/exp32/
/weights/yolov5l-seg.pt
/weights/yolov5m-seg.pt
/weights/yolov5n-seg.pt
/weights/yolov5s.pt
/weights/yolov5s-seg.pt
/weights/yolov5x.pt
/weights/yolov5x-seg.pt
